<div class="menu-style-2">
  <div class="container">
    <div class="menu-flex-box">
      <div class="tp-menu-list">
        <ul class="ul-list">
          {% if show_all_categories %}
          {% for menu in store.settings.menus.main_menu.items %}
          {% if menu.url %}
          <li class="top-level-link {% if menu.items and mega_menu %}megamenu{% endif %}">
            <a href="{{ menu.url }}">{{ menu.label }}
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="16" height="16" color="currentColor"
                fill="none">
                <path d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9" stroke="currentColor"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
            {% if menu.items | length > 0 %}
            <ul class="dropdown">
              {% for menu_sub in menu.items %}
              <li>
                <a href="{{ menu_sub.url }}" class="weight-500">{{ menu_sub.label }}</a>
                {% if menu_sub.items | length > 0 %}
                <ul class="dropdown">
                  {% for menu_sub_sub in menu_sub.items %}
                  <li>
                    <a href="{{ menu_sub_sub.url }}">{{ menu_sub_sub.label }}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endif %}
          {% endfor %}
          {% else %}
          {% set main_menu = store.settings.menus.main_menu.items %}
          {% if not main_menu %}
            {% set main_menu = [] %}
          {% endif %}
          {% for menu in main_menu[:7] %}
          {% if menu.url %}
          <li class="top-level-link {% if menu.items and mega_menu %}megamenu{% endif %}">
            <a href="{{ menu.url }}">{{ menu.label }}
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="16" height="16" color="currentColor"
                fill="none">
                <path d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9" stroke="currentColor"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
            {% if menu.items | length > 0 %}
            <ul class="dropdown">
              {% for menu_sub in menu.items %}
              <li>
                <a href="{{ menu_sub.url }}" class="weight-500">{{ menu_sub.label }}</a>
                {% if menu_sub.items | length > 0 %}
                <ul class="dropdown">
                  {% for menu_sub_sub in menu_sub.items %}
                  <li>
                    <a href="{{ menu_sub_sub.url }}">{{ menu_sub_sub.label }}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endif %}
          {% endfor %}
          {% endif %}
        </ul>
      </div>
      <div class="left-box">
        <div class="login-profile">
          <button zid-visible-customer="true" type="button" class="user-btn"
            onclick="window.location.href='/account-profile'" aria-label="profile">
            <img loading="lazy" class="lazy-img" src="{{ 'user.png' | asset_url }}" alt="">
          </button>
          <button zid-visible-guest="true" type="button" class="login-btn" onclick="window.location.href='/auth/login'"
            aria-label="login btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" color="#000000"
              fill="none">
              <path
                d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                stroke="currentColor" stroke-width="1.5" />
              <path
                d="M14.75 9.5C14.75 11.0188 13.5188 12.25 12 12.25C10.4812 12.25 9.25 11.0188 9.25 9.5C9.25 7.98122 10.4812 6.75 12 6.75C13.5188 6.75 14.75 7.98122 14.75 9.5Z"
                stroke="currentColor" stroke-width="1.5" />
              <path
                d="M5.49994 19.0001L6.06034 18.0194C6.95055 16.4616 8.60727 15.5001 10.4016 15.5001H13.5983C15.3926 15.5001 17.0493 16.4616 17.9395 18.0194L18.4999 19.0001"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
        {% if 'hide_language' not in safeget(menu_settings, "header_options", []) %}
        <div class="language-currency-btn" data-bs-toggle="modal" data-bs-target="#langCurrecyModal">
          {% if session.lang == 'en' %}
          {% set change_to_lang = 'ar' %}
          {% set change_to_lang_name = 'العربية' %}
          {% else %}
          {% set change_to_lang = 'en' %}
          {% set change_to_lang_name = 'English' %}
          {% endif %}
          {% if language_icon %}
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-translate"
            viewbox="0 0 16 16">
            <path
              d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286zm1.634-.736L5.5 3.956h-.049l-.679 2.022z" />
            <path
              d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm7.138 9.995q.289.451.63.846c-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6 6 0 0 1-.415-.492 2 2 0 0 1-.94.31" />
          </svg>
          {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" color="#000000"
            fill="none">
            <path
              d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z"
              stroke="currentColor" stroke-width="1.5" />
            <path
              d="M20 5.69899C19.0653 5.76636 17.8681 6.12824 17.0379 7.20277C15.5385 9.14361 14.039 9.30556 13.0394 8.65861C11.5399 7.6882 12.8 6.11636 11.0401 5.26215C9.89313 4.70542 9.73321 3.19045 10.3716 2"
              stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
            <path
              d="M2 11C2.7625 11.6621 3.83046 12.2682 5.08874 12.2682C7.68843 12.2682 8.20837 12.7649 8.20837 14.7518C8.20837 16.7387 8.20837 16.7387 8.72831 18.2288C9.06651 19.1981 9.18472 20.1674 8.5106 21"
              stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
            <path
              d="M22 13.4523C21.1129 12.9411 20 12.7308 18.8734 13.5405C16.7177 15.0898 15.2314 13.806 14.5619 15.0889C13.5765 16.9775 17.0957 17.5711 14 22"
              stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
          </svg>
          {% endif %}
        </div>
        {% endif %}
        <button zid-visible-customer="true" type="button" class="wishlist-btn"
          onclick="window.location.href='/account-wishlist'" aria-label="wishlist">
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" color="#000000"
            fill="none">
            <path
              d="M19.4626 3.99415C16.7809 2.34923 14.4404 3.01211 13.0344 4.06801C12.4578 4.50096 12.1696 4.71743 12 4.71743C11.8304 4.71743 11.5422 4.50096 10.9656 4.06801C9.55962 3.01211 7.21909 2.34923 4.53744 3.99415C1.01807 6.15294 0.221721 13.2749 8.33953 19.2834C9.88572 20.4278 10.6588 21 12 21C13.3412 21 14.1143 20.4278 15.6605 19.2834C23.7783 13.2749 22.9819 6.15294 19.4626 3.99415Z"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
          </svg>
        </button>
        <button zid-visible-guest="true" type="button" class="wishlist-btn" onclick="window.location.href='/auth/login'"
          aria-label="login btn">
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" color="#000000"
            fill="none">
            <path
              d="M19.4626 3.99415C16.7809 2.34923 14.4404 3.01211 13.0344 4.06801C12.4578 4.50096 12.1696 4.71743 12 4.71743C11.8304 4.71743 11.5422 4.50096 10.9656 4.06801C9.55962 3.01211 7.21909 2.34923 4.53744 3.99415C1.01807 6.15294 0.221721 13.2749 8.33953 19.2834C9.88572 20.4278 10.6588 21 12 21C13.3412 21 14.1143 20.4278 15.6605 19.2834C23.7783 13.2749 22.9819 6.15294 19.4626 3.99415Z"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
          </svg>
        </button>
        <div class="cart-btn">
          <a data-bs-toggle="offcanvas" href="#side-cart" aria-controls="side-cart" role="button" aria-label="cart">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" color="#000000"
              fill="none">
              <path
                d="M3.87289 17.0194L2.66933 9.83981C2.48735 8.75428 2.39637 8.21152 2.68773 7.85576C2.9791 7.5 3.51461 7.5 4.58564 7.5H19.4144C20.4854 7.5 21.0209 7.5 21.3123 7.85576C21.6036 8.21152 21.5126 8.75428 21.3307 9.83981L20.1271 17.0194C19.7282 19.3991 19.5287 20.5889 18.7143 21.2945C17.9 22 16.726 22 14.3782 22H9.62182C7.27396 22 6.10003 22 5.28565 21.2945C4.47127 20.5889 4.27181 19.3991 3.87289 17.0194Z"
                stroke="currentColor" stroke-width="1.5" />
              <path d="M17.5 7.5C17.5 4.46243 15.0376 2 12 2C8.96243 2 6.5 4.46243 6.5 7.5" stroke="currentColor"
                stroke-width="1.5" />
            </svg>
            <span class="cart-badge">0</span>
          </a>
        </div>
        {% if store.settings.checkout.gift_order_settings.is_gift_order_enabled == '1' %}
        <div id="tooltip" class="d-none popover popover-gift" role="tooltip">
          <div class="arrow"></div>
          <div class="gift-popover-body">
            <img loading="lazy" src="{{ 'gift-popover-icon.svg' | asset_url }}" width="24" height="24" />
            <p class="h6 my-2">
              {{ _('Send as gift') }}
            </p>
            <button class="btn round primary d-block">
              <a href="/cart/view" class="no-border d-block">
                {{ _('continue') }}
              </a>
            </button>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>