{% if settings.announcement_bar_display %}
    {% if not (settings.announcement_bar_page_display)
        or (template == 'home' and settings.announcement_bar_page_display == 'home')
        or settings.announcement_bar_page_display == 'all'
    %}
		<section class="tp-bar {{ 'stop-move' if settings.announcement_bar_stop_move else '' }}" style="{% if settings.announcement_bar_background_color %}background: {{ settings.announcement_bar_background_color }} {% endif %}">
			<div class="tp-mask">
				<div class="tp-marquee">
					{% for ad in settings.announcement_bar_advertisement_bar %}
						<a href="{{ ad.url if ad.url else 'javascript:;' }}" style="{% if ad.text_color %}color: {{ ad.text_color }}{% endif %}">
							{% if ad.image %}
								<img loading="lazy" class="lazy-img" src="{{ image_url(ad.image) }}"  alt="image" width="26" height="26">
							{% endif %}
							{{ ad.text }}
						</a>
					{% endfor %}
				</div>
				<div class="tp-marquee">
					{% for ad in settings.announcement_bar_advertisement_bar %}
						<a href="{{ ad.url if ad.url else 'javascript:;' }}" style="{% if ad.text_color %}color: {{ ad.text_color }}{% endif %}">
							{% if ad.image %}
								<img loading="lazy" class="lazy-img" src="{{ image_url(ad.image) }}"  alt="image" width="26" height="26">
							{% endif %}
							{{ ad.text }}
						</a>
					{% endfor %}
				</div>
			</div>
		</section>
	{% endif %}
{% endif %}
