<div class="tp-product-details-review-rating-list">
  <div class="tp-product-details-review-rating-item">
    <span class="rating_count_5">{{ product.rating.ratings_5.count if product.rating.ratings_5.count else 0 }}</span>
    <i class="icon-star1"></i>
    <i class="icon-star1"></i>
    <i class="icon-star1"></i>
    <i class="icon-star1"></i>
    <i class="icon-star1"></i>
    <p>{{ _("Excellent") }}</p>
  </div>

  <div class="tp-product-details-review-rating-item">
    <span class="rating_count_4">{{ product.rating.ratings_4.count if product.rating.ratings_4.count else 0 }}</span>
    <i class="icon-star1"></i>
    <i class="icon-star1"></i>
    <i class="icon-star1"></i>
    <i class="icon-star1"></i>
    <i class="icon-star1 deactive"></i>
    <p>{{ _("Great") }}</p>
  </div>

  <div class="tp-product-details-review-rating-item">
    <span class="rating_count_3">{{ product.rating.ratings_3.count if product.rating.ratings_3.count else 0 }}</span>
    <i class="icon-star1"></i>
    <i class="icon-star1"></i>
    <i class="icon-star1"></i>
    <i class="icon-star1 deactive"></i>
    <i class="icon-star1 deactive"></i>
    <p>{{ _("Good") }}</p>
  </div>

  <div class="tp-product-details-review-rating-item">
    <span class="rating_count_2">{{ product.rating.ratings_2.count if product.rating.ratings_2.count else 0 }}</span>
    <i class="icon-star1"></i>
    <i class="icon-star1"></i>
    <i class="icon-star1 deactive"></i>
    <i class="icon-star1 deactive"></i>
    <i class="icon-star1 deactive"></i>
    <p>{{ _("Dislike") }}</p>
  </div>

  <div class="tp-product-details-review-rating-item">
    <span class="rating_count_1">{{ product.rating.ratings_1.count if product.rating.ratings_1.count else 0 }}</span>
    <i class="icon-star1"></i>
    <i class="icon-star1 deactive"></i>
    <i class="icon-star1 deactive"></i>
    <i class="icon-star1 deactive"></i>
    <i class="icon-star1 deactive"></i>
    <p>{{ _("Bad") }}</p>
  </div>
</div>