  {% if not settings.hide_element %}
  <section class="tp-banner-grid s-block" section-id="{{ sectionId }}">
    <div class="container">
      <ul class="banner-grid-ul">
      {% if 'banner_grid' in settings %}
      {% set banner_grid = settings.banner_grid %}
      {% if banner_grid is callable %}
          {% set banner_grid = banner_grid() %}
      {% endif %}
      {% else %}
          {% set banner_grid = [] %}
      {% endif %}
      {% if banner_grid is not iterable %}
          {% set banner_grid = [] %}
      {% endif %}

      {% for item in banner_grid %}
        <li >
          <a href="{% if item.url %}{{ item.url }}{% else %}javascript:;{% endif %}">
            <img loading="lazy" width="300" height="300" class="lazy-img" src="{{ image_url(item.image) }}"  alt="item">
            <div class="banner-content">
            {% if item.sub_title %}
              <span>{{ item.sub_title }}</span>
              {% endif %}
              {% if item.title %}
              <h3>{{ item.title }}</h3>
              {% endif %}
              {% if item.btn_text %}
              <button class="tp-btn tp-btn-white">
                {{item.btn_text}}
                {# <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                  <path d="M3.99982 11.9998L19.9998 11.9998" stroke="currentColor" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M8.99963 17C8.99963 17 3.99968 13.3176 3.99966 12C3.99965 10.6824 8.99966 7 8.99966 7"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg> #}
              </button>
              {% endif %}
            </div>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
  

