{% if not settings.hide_element %}
<section class="tp-brands-style-2 s-block" section-id="{{ sectionId }}">
  <div class="container">
    <div class="tp-title-section">
      {% if settings.small_subtitle %}
      <span>{{ settings.small_subtitle }}</span>
      {% endif %}
      {% if settings.title %}
      <h3>{{ settings.title }}</h3>
      {% endif %}
      {% if settings.small_text %}
      <p>{{ settings.small_text }}</p>
      {% endif %}
    </div>

    {% if 'brands_style_2' in settings %}
    {% set brands_style_2 = settings.brands_style_2 %}
    {% if brands_style_2 is callable %}
    {% set brands_style_2 = brands_style_2() %}
    {% endif %}
    {% else %}
    {% set brands_style_2 = [] %}
    {% endif %}
    {% if brands_style_2 is not iterable %}
    {% set brands_style_2 = [] %}
    {% endif %}
    <div class="brands-style-box">
      <div class="animated-brands--marquee">
        <div class="marquee__group">
          {% for brand in brands_style_2 %}
          <a href="{% if brand.url %}{{ brand.url }}{% else %}javascript:;{% endif %}" aria-label="brand">
            <img loading="lazy" width="80" height="80" class="lazy-img" src="{{ image_url(brand.image) }}" alt="brand">
          </a>
          {% endfor %}
        </div>
        <div class="marquee__group">
          {% for brand in brands_style_2 %}
          <a href="{% if brand.url %}{{ brand.url }}{% else %}javascript:;{% endif %}" aria-label="brand">
            <img loading="lazy" width="80" height="80" class="lazy-img" src="{{ image_url(brand.image) }}" alt="brand">
          </a>
          {% endfor %}
        </div>
      </div>
      {% if not settings.reverse_duplication %}
      <div class="animated-brands--marquee">
        <div class="marquee__group">
          {% for brand in brands_style_2 %}
          <a href="{% if brand.url %}{{ brand.url }}{% else %}javascript:;{% endif %}" aria-label="brand">
            <img loading="lazy" width="80" height="80" class="lazy-img" src="{{ image_url(brand.image) }}" alt="brand">
          </a>
          {% endfor %}
        </div>
        <div class="marquee__group">
          {% for brand in brands_style_2 %}
          <a href="{% if brand.url %}{{ brand.url }}{% else %}javascript:;{% endif %}" aria-label="brand">
            <img loading="lazy" width="80" height="80" class="lazy-img" src="{{ image_url(brand.image) }}" alt="brand">
          </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}