{% if not settings.hide_element %}
<section class="tp-offers" section-id="{{ sectionId }}" style="background: {{ settings.background_color }};">
    <div class="container">
      <div class="tp-offers-box">
      {% if settings.image %}
        <img loading="lazy" width="550" height="350" class="object-fit-{{ settings.img_fit }} lazy-img" src="{{ image_url(settings.image) }}"  alt="{{settings.title}}">
      {% endif %}
        <div class="offer-content" style="color: {{ settings.text_color }};">
          <div class="offer-text">
            {% if settings.title %}
              <h3>{{settings.title}}</h3>
            {% endif %}
            {% if settings.sub_title %}
              <p>{{settings.sub_title}}</p>
            {% endif %}
          </div>
        {% if settings.date %}
          <div class="tp-countdown-offer" date="{{settings.date}}">
            <ul>
                <li>
                <span class="seconds">0</span>
                {{ _("Second") }}
                </li>
                <li>
                <span class="minutes">0</span>
                {{ _("Minute") }}
                </li>
                <li>
                <span class="hours">0</span>
                {{ _("Hour") }}
                </li>
                <li>
                <span class="days">0</span>
                {{ _("Day") }}
                </li>
            </ul>
          </div>
          {% endif %}
          {% if settings.btn_text %}
          <a href="{% if settings.url %}{{ settings.url }}{% else %}javascript:;{% endif %}" class="tp-btn">
            {{ settings.btn_text }}
            {# <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
              <path d="M3.99982 11.9998L19.9998 11.9998" stroke="currentColor" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M8.99963 17C8.99963 17 3.99968 13.3176 3.99966 12C3.99965 10.6824 8.99966 7 8.99966 7"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg> #}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
      <script>
    document.addEventListener('DOMContentLoaded', function() {
      const countdowns = document.querySelectorAll('.tp-countdown-offer');
      countdowns.forEach(function(countdown) {
          const targetDate = countdown.getAttribute('date');
          const endDate = new Date(targetDate.split('/').reverse().join('/')).getTime();
          const interval = setInterval(function() {
              const now = new Date().getTime();
              const distance = endDate - now;

              const days = Math.floor(distance / (1000 * 60 * 60 * 24));
              const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              const seconds = Math.floor((distance % (1000 * 60)) / 1000);

              countdown.querySelector('.days').textContent = days;
              countdown.querySelector('.hours').textContent = hours;
              countdown.querySelector('.minutes').textContent = minutes;
              countdown.querySelector('.seconds').textContent = seconds;

              if (distance < 0) {
                  clearInterval(interval);
                  countdown.innerHTML = "<p>انتهى الوقت!</p>";
              }
          }, 1000);
      });
    });
  </script>
  </section>
{% endif %}
    

