
/* Slider */
.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('./slick.eot');
  src: url('./slick.eot?#iefix') format('embedded-opentype'), url('./slick.woff') format('woff'), url('./slick.ttf') format('truetype'), url('./slick.svg#slick') format('svg');
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: #e1dbdb;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  z-index: 1;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-arrow.slick-disabled {
  display: none !important;
}

.slick-prev {
  left: 16px;
}

[dir='rtl'] .slick-prev {
  right: 16px;
  left: auto;
}


.slick-next {
  right: 16px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: 16px;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots:has(:only-child) {
  display: none;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 24px;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 100%;
  height: 3px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 3px;
  content: '';
  text-align: center;
  opacity: .25;
  background: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: black;
}

.categories-slider {
  height: auto;
}

.products-slider {
  height: 330px;
}

.products-slider,
.categories-slider {
  display: none;
}

.products-slider.slick-initialized,
.categories-slider.slick-initialized {
  display: block;
  height: auto;
}


@media (max-width: 768px) {
  .products-slider {
    height: auto;
  }

  .slick-dots li,
  .slick-dots li button,
  .slick-dots li button:before {
    width: 16px;
    height: 2px;
  }
}